/* For use in _color-definitions.scss */


$palette-dark:
rgb(234, 234, 236)
rgb(203, 204, 206)
rgb(169, 170, 174)
rgb(134, 135, 142)
rgb(108, 110, 117)
rgb(82, 84, 93)
rgb(75, 77, 85)
rgb(65, 67, 75)
rgb(56, 58, 65)
rgb(40, 41, 48)
rgb(132, 149, 250)
rgb(83, 106, 248)
rgb(25, 58, 255)
rgb(0, 36, 254)
;

$palette-dark-50: nth($palette-dark, 1);
$palette-dark-100: nth($palette-dark, 2);
$palette-dark-200: nth($palette-dark, 3);
$palette-dark-300: nth($palette-dark, 4);
$palette-dark-400: nth($palette-dark, 5);
$palette-dark-500: nth($palette-dark, 6);
$palette-dark-600: nth($palette-dark, 7);
$palette-dark-700: nth($palette-dark, 8);
$palette-dark-800: nth($palette-dark, 9);
$palette-dark-900: nth($palette-dark, 10);
$palette-dark-A100: nth($palette-dark, 11);
$palette-dark-A200: nth($palette-dark, 12);
$palette-dark-A400: nth($palette-dark, 13);
$palette-dark-A700: nth($palette-dark, 14);


$palette-light:
rgb(255, 253, 247)
rgb(254, 249, 235)
rgb(254, 246, 221)
rgb(254, 242, 207)
rgb(253, 239, 197)
rgb(253, 236, 187)
rgb(253, 234, 181)
rgb(252, 231, 172)
rgb(252, 228, 164)
rgb(252, 223, 150)
rgb(255, 255, 255)
rgb(255, 255, 255)
rgb(255, 255, 255)
rgb(255, 255, 255)
;

$palette-light-50: nth($palette-light, 1);
$palette-light-100: nth($palette-light, 2);
$palette-light-200: nth($palette-light, 3);
$palette-light-300: nth($palette-light, 4);
$palette-light-400: nth($palette-light, 5);
$palette-light-500: nth($palette-light, 6);
$palette-light-600: nth($palette-light, 7);
$palette-light-700: nth($palette-light, 8);
$palette-light-800: nth($palette-light, 9);
$palette-light-900: nth($palette-light, 10);
$palette-light-A100: nth($palette-light, 11);
$palette-light-A200: nth($palette-light, 12);
$palette-light-A400: nth($palette-light, 13);
$palette-light-A700: nth($palette-light, 14);



$palette-red:
rgb(248, 228, 232)
rgb(238, 188, 197)
rgb(226, 144, 159)
rgb(214, 99, 120)
rgb(206, 65, 91)
rgb(197, 32, 62)
rgb(191, 28, 56)
rgb(184, 24, 48)
rgb(176, 19, 40)
rgb(163, 11, 27)
rgb(255, 209, 212)
rgb(255, 158, 165)
rgb(255, 107, 118)
rgb(255, 81, 94)
;

$palette-red-50: nth($palette-red, 1);
$palette-red-100: nth($palette-red, 2);
$palette-red-200: nth($palette-red, 3);
$palette-red-300: nth($palette-red, 4);
$palette-red-400: nth($palette-red, 5);
$palette-red-500: nth($palette-red, 6);
$palette-red-600: nth($palette-red, 7);
$palette-red-700: nth($palette-red, 8);
$palette-red-800: nth($palette-red, 9);
$palette-red-900: nth($palette-red, 10);
$palette-red-A100: nth($palette-red, 11);
$palette-red-A200: nth($palette-red, 12);
$palette-red-A400: nth($palette-red, 13);
$palette-red-A700: nth($palette-red, 14);


$palette-green:
rgb(225, 240, 233)
rgb(180, 219, 201)
rgb(130, 195, 165)
rgb(79, 170, 129)
rgb(42, 152, 102)
rgb(4, 134, 75)
rgb(3, 126, 68)
rgb(3, 115, 59)
rgb(2, 105, 51)
rgb(1, 86, 35)
rgb(136, 255, 173)
rgb(85, 255, 138)
rgb(34, 255, 103)
rgb(8, 255, 86)
;

$palette-green-50: nth($palette-green, 1);
$palette-green-100: nth($palette-green, 2);
$palette-green-200: nth($palette-green, 3);
$palette-green-300: nth($palette-green, 4);
$palette-green-400: nth($palette-green, 5);
$palette-green-500: nth($palette-green, 6);
$palette-green-600: nth($palette-green, 7);
$palette-green-700: nth($palette-green, 8);
$palette-green-800: nth($palette-green, 9);
$palette-green-900: nth($palette-green, 10);
$palette-green-A100: nth($palette-green, 11);
$palette-green-A200: nth($palette-green, 12);
$palette-green-A400: nth($palette-green, 13);
$palette-green-A700: nth($palette-green, 14);


$palette-blue:
rgb(228, 234, 242)
rgb(187, 202, 222)
rgb(142, 167, 200)
rgb(97, 132, 177)
rgb(63, 105, 161)
rgb(29, 79, 144)
rgb(26, 72, 136)
rgb(21, 63, 125)
rgb(17, 54, 115)
rgb(10, 38, 97)
rgb(148, 177, 255)
rgb(97, 139, 255)
rgb(46, 102, 255)
rgb(20, 84, 255)
;

$palette-blue-50: nth($palette-blue, 1);
$palette-blue-100: nth($palette-blue, 2);
$palette-blue-200: nth($palette-blue, 3);
$palette-blue-300: nth($palette-blue, 4);
$palette-blue-400: nth($palette-blue, 5);
$palette-blue-500: nth($palette-blue, 6);
$palette-blue-600: nth($palette-blue, 7);
$palette-blue-700: nth($palette-blue, 8);
$palette-blue-800: nth($palette-blue, 9);
$palette-blue-900: nth($palette-blue, 10);
$palette-blue-A100: nth($palette-blue, 11);
$palette-blue-A200: nth($palette-blue, 12);
$palette-blue-A400: nth($palette-blue, 13);
$palette-blue-A700: nth($palette-blue, 14);


$palette-orange:
rgb(254, 240, 228)
rgb(252, 218, 188)
rgb(250, 193, 143)
rgb(247, 168, 98)
rgb(246, 150, 65)
rgb(244, 131, 31)
rgb(243, 123, 27)
rgb(241, 112, 23)
rgb(239, 102, 18)
rgb(236, 83, 10)
rgb(255, 255, 255)
rgb(255, 234, 226)
rgb(255, 197, 175)
rgb(255, 179, 150)
;

$palette-orange-50: nth($palette-orange, 1);
$palette-orange-100: nth($palette-orange, 2);
$palette-orange-200: nth($palette-orange, 3);
$palette-orange-300: nth($palette-orange, 4);
$palette-orange-400: nth($palette-orange, 5);
$palette-orange-500: nth($palette-orange, 6);
$palette-orange-600: nth($palette-orange, 7);
$palette-orange-700: nth($palette-orange, 8);
$palette-orange-800: nth($palette-orange, 9);
$palette-orange-900: nth($palette-orange, 10);
$palette-orange-A100: nth($palette-orange, 11);
$palette-orange-A200: nth($palette-orange, 12);
$palette-orange-A400: nth($palette-orange, 13);
$palette-orange-A700: nth($palette-orange, 14);


$palette-purple:
rgb(237, 229, 237)
rgb(210, 190, 209)
rgb(180, 146, 178)
rgb(150, 102, 147)
rgb(128, 70, 124)
rgb(105, 37, 101)
rgb(97, 33, 93)
rgb(86, 27, 83)
rgb(76, 22, 73)
rgb(59, 13, 55)
rgb(255, 117, 244)
rgb(255, 66, 240)
rgb(255, 15, 236)
rgb(245, 0, 225)
;

$palette-purple-50: nth($palette-purple, 1);
$palette-purple-100: nth($palette-purple, 2);
$palette-purple-200: nth($palette-purple, 3);
$palette-purple-300: nth($palette-purple, 4);
$palette-purple-400: nth($palette-purple, 5);
$palette-purple-500: nth($palette-purple, 6);
$palette-purple-600: nth($palette-purple, 7);
$palette-purple-700: nth($palette-purple, 8);
$palette-purple-800: nth($palette-purple, 9);
$palette-purple-900: nth($palette-purple, 10);
$palette-purple-A100: nth($palette-purple, 11);
$palette-purple-A200: nth($palette-purple, 12);
$palette-purple-A400: nth($palette-purple, 13);
$palette-purple-A700: nth($palette-purple, 14);







$palette-sttropaz:
rgb(229, 236, 242)
rgb(190, 207, 222)
rgb(147, 176, 201)
rgb(104, 144, 179)
rgb(71, 120, 162)
rgb(39, 96, 146)
rgb(35, 88, 138)
rgb(29, 78, 127)
rgb(23, 68, 117)
rgb(14, 51, 99)
rgb(151, 192, 255)
rgb(100, 162, 255)
rgb(49, 131, 255)
rgb(24, 116, 255)
;

$palette-sttropaz-50: nth($palette-sttropaz, 1);
$palette-sttropaz-100: nth($palette-sttropaz, 2);
$palette-sttropaz-200: nth($palette-sttropaz, 3);
$palette-sttropaz-300: nth($palette-sttropaz, 4);
$palette-sttropaz-400: nth($palette-sttropaz, 5);
$palette-sttropaz-500: nth($palette-sttropaz, 6);
$palette-sttropaz-600: nth($palette-sttropaz, 7);
$palette-sttropaz-700: nth($palette-sttropaz, 8);
$palette-sttropaz-800: nth($palette-sttropaz, 9);
$palette-sttropaz-900: nth($palette-sttropaz, 10);
$palette-sttropaz-A100: nth($palette-sttropaz, 11);
$palette-sttropaz-A200: nth($palette-sttropaz, 12);
$palette-sttropaz-A400: nth($palette-sttropaz, 13);
$palette-sttropaz-A700: nth($palette-sttropaz, 14);


$palette-bostonblue:
rgb(232, 242, 246)
rgb(198, 224, 233)
rgb(161, 203, 218)
rgb(123, 182, 203)
rgb(94, 166, 191)
rgb(66, 150, 180)
rgb(60, 142, 173)
rgb(51, 131, 164)
rgb(43, 121, 156)
rgb(29, 104, 140)
rgb(199, 235, 255)
rgb(148, 217, 255)
rgb(97, 199, 255)
rgb(71, 190, 255)
;

$palette-bostonblue-50: nth($palette-bostonblue, 1);
$palette-bostonblue-100: nth($palette-bostonblue, 2);
$palette-bostonblue-200: nth($palette-bostonblue, 3);
$palette-bostonblue-300: nth($palette-bostonblue, 4);
$palette-bostonblue-400: nth($palette-bostonblue, 5);
$palette-bostonblue-500: nth($palette-bostonblue, 6);
$palette-bostonblue-600: nth($palette-bostonblue, 7);
$palette-bostonblue-700: nth($palette-bostonblue, 8);
$palette-bostonblue-800: nth($palette-bostonblue, 9);
$palette-bostonblue-900: nth($palette-bostonblue, 10);
$palette-bostonblue-A100: nth($palette-bostonblue, 11);
$palette-bostonblue-A200: nth($palette-bostonblue, 12);
$palette-bostonblue-A400: nth($palette-bostonblue, 13);
$palette-bostonblue-A700: nth($palette-bostonblue, 14);


$palette-fountanblue:
rgb(236, 246, 247)
rgb(209, 232, 235)
rgb(178, 216, 222)
rgb(147, 200, 208)
rgb(123, 189, 198)
rgb(100, 177, 188)
rgb(92, 170, 182)
rgb(82, 161, 173)
rgb(72, 152, 165)
rgb(54, 136, 151)
rgb(227, 250, 255)
rgb(176, 242, 255)
rgb(125, 234, 255)
rgb(99, 230, 255)
;

$palette-fountanblue-50: nth($palette-fountanblue, 1);
$palette-fountanblue-100: nth($palette-fountanblue, 2);
$palette-fountanblue-200: nth($palette-fountanblue, 3);
$palette-fountanblue-300: nth($palette-fountanblue, 4);
$palette-fountanblue-400: nth($palette-fountanblue, 5);
$palette-fountanblue-500: nth($palette-fountanblue, 6);
$palette-fountanblue-600: nth($palette-fountanblue, 7);
$palette-fountanblue-700: nth($palette-fountanblue, 8);
$palette-fountanblue-800: nth($palette-fountanblue, 9);
$palette-fountanblue-900: nth($palette-fountanblue, 10);
$palette-fountanblue-A100: nth($palette-fountanblue, 11);
$palette-fountanblue-A200: nth($palette-fountanblue, 12);
$palette-fountanblue-A400: nth($palette-fountanblue, 13);
$palette-fountanblue-A700: nth($palette-fountanblue, 14);


$palette-teal:
rgb(229, 244, 243)
rgb(190, 228, 225)
rgb(147, 211, 205)
rgb(103, 193, 184)
rgb(71, 179, 169)
rgb(38, 166, 154)
rgb(34, 158, 146)
rgb(28, 149, 136)
rgb(23, 139, 126)
rgb(13, 123, 108)
rgb(173, 255, 243)
rgb(122, 255, 236)
rgb(71, 255, 228)
rgb(45, 255, 224)
;

$palette-teal-50: nth($palette-teal, 1);
$palette-teal-100: nth($palette-teal, 2);
$palette-teal-200: nth($palette-teal, 3);
$palette-teal-300: nth($palette-teal, 4);
$palette-teal-400: nth($palette-teal, 5);
$palette-teal-500: nth($palette-teal, 6);
$palette-teal-600: nth($palette-teal, 7);
$palette-teal-700: nth($palette-teal, 8);
$palette-teal-800: nth($palette-teal, 9);
$palette-teal-900: nth($palette-teal, 10);
$palette-teal-A100: nth($palette-teal, 11);
$palette-teal-A200: nth($palette-teal, 12);
$palette-teal-A400: nth($palette-teal, 13);
$palette-teal-A700: nth($palette-teal, 14);



