// @import "../../../design-tokens/index";

@mixin button {
  padding: {
    left: $spacing-medium;
    right: $spacing-medium;
  }
  text-align: center;
  vertical-align: middle;
}

@mixin button-secondary {
  background-color: $color-background-secondary;
  border: $border-width-thin solid $color-border-secondary;
  color: $color-text-inverse;

  &:link,
  &:visited,
  &:active {
    color: $color-text-inverse;
  }

  &:hover,
  &:focus {
    background-color: $color-background-secondary-hover;
    color: $color-text-inverse;
  }

  &:active {
    background-color: $color-background-button-secondary-active;
    border-color: $color-border-secondary-active;
  }
}

// Buttons
//
// This section contains example documentation of different kinds of html
// elements
//
// Markup:
// <button class="{$modifiers}">
//   {$modifiers}
// </button>
//
// .vui-button                        - Brand Button
// .vui-button.vui-button--brand      - Brand Button
// .vui-button.vui-button--neutral    - Neutral Button
// .vui-button.vui-button--secondary  - Secondary Button
//
// Styleguide 2.2
.#{$css-prefix}button--secondary {
  @include button;
  @include button-secondary;

  &[disabled] {
    background: $color-background-button-brand-disabled;
    border-color: $color-border-button-brand-disabled;
    color: $color-text-button-brand-disabled;
  }
}
