// Typography
//
// Styleguide 1.2

// Typography sizes

// Text huge
// Lorem ipsum dolor sit amet, consectetur adipisicing elit
.#{$css-prefix}text-heading--x-large {
  font-weight: 300;
  font-size: 4rem;
  line-height: 1.25;
}

// Text big
// Lorem ipsum dolor sit amet, consectetur adipisicing elit

// Text medium
// Lorem ipsum dolor sit amet, consectetur adipisicing elit

// Text small
// Lorem ipsum dolor sit amet, consectetur adipisicing elit

