<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic metas
	======================================== -->
	<meta charset="utf-8">
	<meta name="author" content="Ahsan">
	<meta name="description" content="PIXEL - HTML5 App Landing Page">
	<meta name="keywords" content="landing, app landing, one page, parallax, html, html5">

	<!-- Mobile specific metas
	======================================== -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Page Title
	======================================== -->
	<title>Pixel || App Landing Page</title>

	<!-- Icons and Fonts
	======================================== -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/customicon.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">

	<!-- links for favicon
	======================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">

	<!-- css links
	======================================== -->
	<!-- Bootstrap link -->
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
	<!-- Killer carousel css -->
	<link rel="stylesheet" href="css/vendor/killercarousel.css" type="text/css">
	<!-- Owl carousel css -->
	<link rel="stylesheet" href="css/vendor/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="css/vendor/owl.theme.default.min.css" type="text/css">
	<!-- Animate css -->
	<link rel="stylesheet" href="css/vendor/animate.css" type="text/css">
	<!-- Quform css -->
	<link rel="stylesheet" type="text/css" href="quform/css/base.css">
	<link rel="stylesheet" type="text/css" href="quform/themes/light/light.css">
	<!-- Custom styles -->
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<!-- body starts
============================================ -->
<body data-spy="scroll" data-offset="100">

<!-- header starts
============================================ -->
	<nav class="navbar navbar-default b-round-0 navbar-fixed-top" id="home">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed b-round-0 tr-fast" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home" data-scroll><img src="images/brand_logo.png" alt="brand logo" class="img-responsive"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a data-scroll href="#overview">overview</a></li>
					<li><a data-scroll href="#features">features</a></li>
					<li><a data-scroll href="#screenshots">screenshots</a></li>
					<li><a data-scroll href="#details">details</a></li>
					<li><a data-scroll href="#feedback">feedback</a></li>
					<li><a data-scroll href="#pricing">pricing</a></li>
					<li><a data-scroll href="#blog">blog</a></li>
				</ul>
			</div>
			<!-- .navbar-collapse -->
		</div>
		<!-- .container-fluid -->
	</nav>
	<!-- End of nav -->


<!-- banner starts
============================================ -->
	<section class="banner clearfix">
		<div class="content text-center p-20">
			<h1><span>- pixel -</span>html5 app landing page</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
			<a href="#" class="btn">view demo</a>
			<a href="#" class="btn start">get started</a>
		</div>
		<!-- End of .content -->
	</section>
	<!-- End of .banner -->


<!-- overview starts
============================================ -->
	<section class="overview ptb-80" id="overview">
		<div class="container">
			<div class="section_title mb-50 wow fadeInDown">
				<span class="wt_mark mb-20">overview</span>
				<h2><span>overview </span></h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
			</div>
			<!-- End of .section_title -->

			<div class="row">
				<div class="col-sm-4">
					<div class="content text-center mb-30 wow fadeInUp" data-wow-offset="200" data-wow-delay=".3s">
						<span class="icon  mb-20 b-round-50 hvr"><i class="icon-mobile"></i></span>
						<h3 class="mb-10">fully responsive</h3>
						<p class="mb-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
					</div>
				</div>
				<!-- End of .col-sm-4 -->
				<div class="col-sm-4">
					<div class="content text-center mb-30 wow fadeInUp" data-wow-offset="200" data-wow-delay=".6s">
						<span class="icon  mb-20 b-round-50 hvr"><i class="icon-tools2"></i></span>
						<h3 class="mb-10">easy to customize</h3>
						<p class="mb-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
					</div>
				</div>
				<!-- End of .col-sm-4 -->
				<div class="col-sm-4">
					<div class="content text-center mb-30 wow fadeInUp" data-wow-offset="200" data-wow-delay=".9s">
						<span class="icon  mb-20 b-round-50 hvr"><i class="icon-software_layers2"></i></span>
						<h3 class="mb-10">well documented</h3>
						<p class="mb-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
					</div>
				</div>
				<!-- End of .col-sm-4 -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .overview -->


<!-- features starts
============================================ -->
	<section class="features pt-80 pb-80 bg-off" id="features">
		<div class="container">
			<div class="section_title mb-50 wow fadeInDown">
				<span class="wt_mark mb-20">features</span>
				<h2>features</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
			</div>
			<!-- End of .section_title -->

			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="content pt-70 pr-70 text-right">
						<div class="inner wow fadeInLeft" data-wow-delay=".2s">
							<h3 class="mb-10"><i class="icon-basic_elaboration_bookmark_plus "></i>modern widget</h3>
							<p class="mb-30">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit</p>
						</div>
						<!-- End of .inner -->
						<div class="inner wow fadeInLeft" data-wow-delay=".4s">
							<h3 class="mb-10"><i class=" icon-mobile"></i>high quality view </h3>
							<p class="mb-30">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit</p>
						</div>
						<!-- End of .inner -->
						<div class="inner wow fadeInLeft" data-wow-delay=".6s">
							<h3 class="mb-10"><i class="icon-video"></i>audio and video previews </h3>
							<p class="mb-30">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit</p>
						</div>
						<!-- End of .inner -->
					</div>
					<!-- End of .content -->
				</div>
				<!-- End of .col-sm-4 -->
				<div class="col-sm-6 col-md-4 hidden-sm wow fadeInUp" data-wow-delay=".2s">
					<img src="images/iphone.png" alt="mobile" class="img-responsive">
				</div>
				<!-- End of .col-sm-4 -->
				<div class="col-sm-6 col-md-4">
					<div class="content pt-70 pl-70 text-left">
						<div class="inner wow fadeInRight" data-wow-delay=".2s">
							<h3 class="mb-10"><i class="icon-basic_spades"></i> Premium Quality Design</h3>
							<p class="mb-30">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit</p>
						</div>
						<!-- End of .inner -->
						<div class="inner wow fadeInRight" data-wow-delay=".4s">
							<h3 class="mb-10"><i class="icon-basic_message_multiple"></i> Notification Viewing</h3>
							<p class="mb-30">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit</p>
						</div>
						<!-- End of .inner -->
						<div class="inner wow fadeInRight" data-wow-delay=".6s">
							<h3 class="mb-10"><i class="icon-documents"></i> Outstanding Stats</h3>
							<p class="mb-30">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit</p>
						</div>
						<!-- End of .inner -->
					</div>
					<!-- End of .content -->
				</div>
				<!-- End of .col-sm-4 -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .features -->


<!-- starter starts
============================================ -->
	<section class="starter pt-50 pb-50 grad">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 col-sm-offset-1 wow fadeInLeft">
					<h4 class="mb-10 text-uppercase">Lorem ipsum doler sit amet</h4>
					<p>Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.</p>
				</div>
				<!-- End of .col-sm-7 -->
				<div class="col-sm-4">
					<a href="#" class="btn  b-round-0 text-uppercase mt-30 wow fadeInRight">download</a>
				</div>
				<!-- End of .col-sm-5 -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .starter -->


<!-- screenshots starts
============================================ -->
	<section class="screenshots ptb-80" id="screenshots">
		<div class="container">

			<div class="section_title mb-20 wow fadeInDown">
				<span class="wt_mark mb-20">screenshots</span>
				<h2>screenshots</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  dummy text of the printing and typesetting industry industry's standard.</p>
			</div>
			<!-- End of .section_title -->

			<div class="kc_wrapper">
				<div class="kc-wrap wow fadeInUp" data-wow-delay=".3s">
					<div class="kc-item">
						<img src="images/1.jpg" alt="Salvator Mundi 1519">
					</div>
					<div class="kc-item">
						<img src="images/2.jpg" alt="St. John the Baptist 1516">
					</div>
					<div class="kc-item">
						<img src="images/3.jpg" alt="Lady with an Ermine 1490">
					</div>
					<div class="kc-item">
						<img src="images/4.jpg" alt="St. Jerome in the Wilderness 1480">
					</div>
					<div class="kc-item">
						<img src="images/5.jpg" alt="Head of a Woman 1508">
					</div>
					<div class="kc-item">
						<img src="images/6.jpg" alt="The Virgin and Child with St. Anne 1508">
					</div>
					<div class="kc-item">
						<img src="images/1.jpg" alt="Madonna of the Carnation 1480">
					</div>
					<div class="kc-item">
						<img src="images/2.jpg" alt="La belle ferronnière 1496">
					</div>
					<div class="kc-item">
						<img src="images/3.jpg" alt="Adoration of the Magi 1481">
					</div>
					<div class="kc-item">
						<img src="images/4.jpg" alt="Adoration of the Magi 1481">
					</div>
					<!-- last item -->
					<!-- to add more items copy and paste any of the items underneath the last item -->
				</div>
			</div>
			<!-- .kc_wrapper ends -->
			<p class="text-center wow fadeInUp" data-wow-delay=".2s">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.</p>
			<div class="text-center wow fadeInUp" data-wow-delay=".4s"><a href="#" class="btn blue  b-round-0 mt-30">download</a></div>
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .screenshots -->


<!-- details starts
============================================ -->
	<section class="details pt-80 pb-80 bg-off" id="details">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 pull-right">
					<div class="img_container">
						<img src="images/app-1.png" alt="app" class="img-responsive">
					</div>
					<!-- End of .img_container -->
				</div>
				<!-- End of .col-sm-6 -->

				<div class="col-sm-6">
					<h2 class="mb-20">Perfect for promoting<br> your mobile apps</h2>
					<p class="mb-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					<p class="mb-20">Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book.</p>
					<a href="#" class="btn blue">read more</a>
				</div>
				<!-- End of .col-sm-6 -->

			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .details -->

	<section class="details pt-80 pb-80">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="content">
						<div class="owl-carousel owl-theme">
							<div class="item">
								<img src="images/1.jpg" alt="screen" class="img-responsive">
							</div>
							<!-- End of .item -->

							<div class="item">
								<img src="images/2.jpg" alt="screen" class="img-responsive">
							</div>
							<!-- End of .item -->

							<div class="item">
								<img src="images/3.jpg" alt="screen" class="img-responsive">
							</div>
							<!-- End of .item -->

							<div class="item">
								<img src="images/4.jpg" alt="screen" class="img-responsive">
							</div>
							<!-- End of .item -->
						</div>
						<!-- End of .owl-carousel -->
					</div>
					<!-- End of .content -->
				</div>
				<!-- End of .col-sm-6 -->

				<div class="col-sm-6">
					<h2 class="mb-20">Featuring all amazing<br> functionality</h2>
					<p class="mb-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					<p class="mb-20">Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book.</p>
					<a href="#" class="btn blue">read more</a>
				</div>
				<!-- End of .col-sm-6 -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .details -->

	<section class="details pt-80 pb-80 bg-off">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 pull-right">
					<div class="img_container">
						<img src="images/layouts.png" alt="app" class="img-responsive">
					</div>
					<!-- End of .img_container -->
				</div>
				<!-- End of .col-sm-6 -->
				
				<div class="col-sm-6">
					<h2 class="mb-20">Outstanding compatibility</h2>
					<p class="mb-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					<p class="mb-20">Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book.</p>

					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-windows" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<!-- End of .col-sm-6 -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .details -->


<!-- details starts
============================================ -->
	<section class="details get_app pt-80 pb-80 text-center bg-grad">
		<div class="container">
			<h4>Get the app for android &amp; iOS</h4>
			<h2 class="m-0 mb-20">Download Now</h2>
			<p class="mb-20">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.</p>
			<ul class="list-inline">
				<li>
					<a href="#"><img src="images/app.png" class="img-responsive tr-mid" alt="app store"></a>
				</li>
				<li>
					<a href="#"><img src="images/play.png" class="img-responsive tr-mid" alt="app store"></a>
				</li>
			</ul>
			<!-- End of .list-inline -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .details -->


<!-- video starts
============================================ -->
	<section class="video details pt-80 pb-80 bg-off">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h2 class="mb-20">watch a promotional<br> video</h2>
					<p class="mb-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					<p class="mb-20">Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book.</p>
				</div>
				<!-- End of .col-sm-6 -->

				<div class="col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
					<div class="embed-responsive embed-responsive-16by9">
						<!-- youtube video content -->
						<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9hiT6Lsw01c" allowfullscreen></iframe>
					</div>
					<!-- End of .embed-responsive -->
				</div>
				<!-- End of .video -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .video -->


<!-- feedback starts
====================================================== -->
	<section class="feedback ptb-80 bg-off" id="feedback">
		<div class="container">
			<div class="section_title mb-40 wow fadeInDown">
				<h2>clients feedback</h2>
			</div>
			<!-- End of .section_title -->

			<div class="owl-carousel owl-theme">
				<div class="item text-center">
					<p class="comment">
						<img src="images/clients/1.jpg" alt="clients" class="img-responsive center-block b-round-50 mb-30">
						Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.
					</p>
					<h4 class="text-uppercase">richard marks</h4>
					<p class="text-capitalize">creative director, apple</p>
				</div>
				<!-- End of .item -->

				<div class="item text-center">
					<p class="comment">
						<img src="images/clients/2.jpg" alt="clients" class="img-responsive center-block b-round-50 mb-30">
						Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.
					</p>
					<h4 class="text-uppercase">richard marks</h4>
					<p class="text-capitalize">creative director, apple</p>
				</div>
				<!-- End of .item -->

				<div class="item text-center">
					<p class="comment">
						<img src="images/clients/3.jpg" alt="clients" class="img-responsive center-block b-round-50 mb-30">
						Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor sit ame consetur adipisicing elit.
					</p>
					<h4 class="text-uppercase">richard marks</h4>
					<p class="text-capitalize">creative director, apple</p>
				</div>
				<!-- End of .item -->
				<!-- Last item -->
				<!-- To add more items to this section simply copy
				and past any of the items underneath the last item -->
			</div>
			<!-- End of .owl-carousel -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .feedback -->


<!-- pricing starts
============================================ -->
	<section class="pricing ptb-80" id="pricing">
		<div class="container">
			<div class="section_title mb-50 wow fadeInDown">
				<span class="wt_mark mb-20">pricing table</span>
				<h2>pricing table</h2>
				<p>we have 4 different pricing plans for you. Choose what's best for you.</p>
			</div>
			<!-- End of .section_title -->

			<div class="row">
				<div class="col-sm-6 col-md-3">
					<ul class="pricing text-center tr-mid">
						<li class="heading">Premium</li>
						<li class="price"><span>$29</span>per month</li>
						<li>24/7 tech support</li>
						<li>15 projects</li>
						<li>5GB storage</li>
						<li>unlimited users</li>
						<li><a href="#" class="btn blue">sign up</a></li>
					</ul>
					<!-- End of .pricing -->
				</div>
				<!-- End of .col-sm-3 -->
				<div class="col-sm-6 col-md-3">
					<ul class="pricing text-center tr-mid">
						<li class="heading">standard</li>
						<li class="price"><span>$59</span>per month</li>
						<li>24/7 tech support</li>
						<li>25 projects</li>
						<li>10GB storage</li>
						<li>unlimited users</li>
						<li><a href="#" class="btn blue">sign up</a></li>
					</ul>
					<!-- End of .pricing -->
				</div>
				<!-- End of .col-sm-3 -->
				<div class="col-sm-6 col-md-3">
					<ul class="pricing text-center recommend">
						<li class="heading">exclusive</li>
						<li class="price"><span>$89</span>per month</li>
						<li>24/7 tech support</li>
						<li>50 projects</li>
						<li>20GB storage</li>
						<li>unlimited users</li>
						<li><a href="#" class="btn blue">sign up</a></li>
					</ul>
					<!-- End of .pricing -->
				</div>
				<!-- End of .col-sm-3 -->
				<div class="col-sm-6 col-md-3">
					<ul class="pricing text-center tr-mid">
						<li class="heading">Pro</li>
						<li class="price"><span>$129</span>per month</li>
						<li>24/7 tech support</li>
						<li>100 projects</li>
						<li>50GB storage</li>
						<li>unlimited users</li>
						<li><a href="#" class="btn blue">sign up</a></li>
					</ul>
					<!-- End of .pricing -->
				</div>
				<!-- End of .col-sm-3 -->
			</div>
			<!-- End of .row -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .pricing -->


<!-- blog starts
============================================ -->
	<section class="blog ptb-80 bg-off" id="blog">
		<div class="container">
			<div class="section_title mb-80 wow fadeInDown">
				<span class="wt_mark mb-20">blog post</span>
				<h2>blog post</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  dummy text of the printing and typesetting industry industry's standard.</p>
			</div>
			<!-- End of .section_title -->

			<div class="owl-carousel owl-theme">
				<div class="item bg-white">
					<a class="img_container" href="#">
						<img src="images/blog/1.jpg" class="img-responsive" alt="blog image">
					</a>
					<!-- End of .img_container -->
					<div class="content p-20">
						<h3><a href="#" class="tr-fast">winter morning</a></h3>
						<h6 class="mb-20">3 hours ago<a class="ml-10 pl-10 tr-fast" href="#">5 comments</a></h6>
						<p class="mb-20">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor. </p>
						<a href="#" class="tr-fast">read more <i class="icon-arrows_slim_right"></i></a>
					</div>
					<!-- End of .content -->
				</div>
				<!-- End of .item -->
				<div class="item bg-white">
					<a class="img_container" href="#">
						<img src="images/blog/2.jpg" class="img-responsive" alt="blog image">
					</a>
					<!-- End of .img_container -->
					<div class="content p-20">
						<h3><a href="#" class="tr-fast">bull head</a></h3>
						<h6 class="mb-20">3 hours ago<a class="ml-10 pl-10 tr-fast" href="#">5 comments</a></h6>
						<p class="mb-20">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor. </p>
						<a href="#" class="tr-fast">read more <i class="icon-arrows_slim_right"></i></a>
					</div>
					<!-- End of .content -->
				</div>
				<!-- End of .item -->
				<div class="item bg-white">
					<a class="img_container" href="#">
						<img src="images/blog/3.jpg" class="img-responsive" alt="blog image">
					</a>
					<!-- End of .img_container -->
					<div class="content p-20">
						<h3><a href="#" class="tr-fast">walk alone</a></h3>
						<h6 class="mb-20">3 hours ago<a class="ml-10 pl-10 tr-fast" href="#">5 comments</a></h6>
						<p class="mb-20">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor. </p>
						<a href="#" class="tr-fast">read more <i class="icon-arrows_slim_right"></i></a>
					</div>
					<!-- End of .content -->
				</div>
				<!-- End of .item -->
				<div class="item bg-white">
					<a class="img_container" href="#">
						<img src="images/blog/2.jpg" class="img-responsive" alt="blog image">
					</a>
					<!-- End of .img_container -->
					<div class="content p-20">
						<h3><a href="#" class="tr-fast">bull head</a></h3>
						<h6 class="mb-20">3 hours ago<a class="ml-10 pl-10 tr-fast" href="#">5 comments</a></h6>
						<p class="mb-20">Lorem ipsum dolor sit ame consetur adipisicing elit. Voluptate, consetur adipisicing elit.Lorem ipsum dolor. </p>
						<a href="#" class="tr-fast">read more <i class="icon-arrows_slim_right"></i></a>
					</div>
					<!-- End of .content -->
				</div>
				<!-- End of .item -->
			</div>
			<!-- End of .owl-carousel -->
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .blog -->


<!-- contact starts
============================================ -->
	<div class="quform-outer text-center tr-mid">
		<form class="quform" action="quform/process.php" method="post" enctype="multipart/form-data" onclick="">
			<div class="quform-inner p-30 ">
				<div class="msg_icon">
					<span class="floating"><i class="fa fa-envelope"></i></span>
				</div>
				<!-- End of .msg_icon -->
				<h3 class="quform-title">Send us a message</h3>
				<p class="mb-30">Please get in touch using the form below.</p>
				<div class="quform-elements">
					<!-- Begin 2 column Group -->
					<div class="quform-group-wrap quform-group-style-plain quform-group-alignment-left">
						<div class="quform-group-elements">
							<div class="row">
								<div class="col-sm-12">
									<div class="quform-spacer">
										<div class="quform-input">
											<input class="form-control" id="name" type="text" name="name" placeholder="Enter Your Name">
										</div>
									</div>
								</div>
								<!-- End Text input element -->
								<!-- Begin Text input element -->
								<div class="col-sm-12">
									<div class="quform-spacer">
										<div class="quform-input">
											<input class="form-control" id="email" type="text" name="email" placeholder="Enter Your Email Address">
										</div>
									</div>
								</div>
								<!-- End Text input element -->
								<!-- Begin Textarea element -->
								<div class="col-sm-12 quform-element quform-element-textarea quform-huge">
									<div class="quform-spacer">
										<div class="quform-input">
											<textarea class="form-control" id="message" name="message" style="height: 130px;" placeholder="Enter Your Message"></textarea>
										</div>
									</div>
								</div>
								<!-- End Textarea element -->
								<!-- Begin Submit button -->
								<div class="col-sm-12 quform-submit text-center">
									<div class="quform-submit-inner">
										<button class="btn" type="submit">submit</button>
									</div>
									<div class="quform-loading-wrap"><span class="quform-loading"></span></div>
								</div>
								<!-- End Submit button -->
							</div>
							<!-- End of .row -->
						</div>
						<!-- End of .quform-group-elements -->
					</div>
					<!-- End 2 column Group -->
				</div>
				<!-- End of .quform-elements -->
			</div>
			<!-- End of .quform-inner -->
		</form>
		<!-- End of form -->
	</div>
	<!-- End of .quform-outer -->


<!-- subscribe starts
============================================ -->
	<section class="subscribe grad pt-70 pb-70">
		<div class="container">
			<div class="section_title mb-30 wow fadeInDown">
				<h2>subscribe to our newsletter</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard  dummy text of the printing and typesetting industry industry's standard.</p>
			</div>
			<!-- End of .section_title -->

			<form class="form-inline text-center" method="post" action="#">
				<input type="text" name="email" class="form-control mb-20 wow fadeInLeft" placeholder="Your Email Address">
				<button class="btn wow fadeInRight blue">subscribe</button>
			</form>
		</div>
		<!-- End of .container -->
	</section>
	<!-- End of .overview -->


<!-- footer starts
============================================ -->
	<footer class="ptb-80 text-center">
		<div class="container-fluid">
			<img src="images/footer_logo.png" alt="logo" class="img-responsive center-block">
			<ul class="list-inline">
				<li><a data-scroll href="#overview">overview</a></li>
				<li><a data-scroll href="#why_pixel">why pixel?</a></li>
				<li><a data-scroll href="#layouts">layouts</a></li>
				<li><a data-scroll href="#features">features</a></li>
				<li><a data-scroll href="#screenshots">screenshots</a></li>
				<li><a data-scroll href="#feedback">feedback</a></li>
				<li><a data-scroll href="#pricing">pricing</a></li>
				<li><a data-scroll href="#blog">blog</a></li>
				<li class="social">
					<ul class="list-inline">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- End of .container-fluid -->
	</footer>
	<!-- End of footer -->


	<!-- Javascripts
	======================================= -->

	<!-- Jquery links-->
	<script src="js/vendor/jquery.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
	<!-- Smooth scroll scripts -->
	<script src="js/vendor/smooth-scroll.min.js"></script>
	<!-- wow.js scripts -->
	<script src="js/vendor/wow.min.js"></script>
	<!-- killer carousel scripts -->
	<script src="js/vendor/killercarousel.js"></script>
	<!-- owl carousel scripts -->
	<script src="js/vendor/owl.carousel.min.js"></script>
	<!-- Quform scripts -->
	<script type="text/javascript" src="quform/js/plugins.js"></script>
	<script type="text/javascript" src="quform/js/scripts.js"></script>
	<!-- Custom js -->
	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
