body{
	background-color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 2;
	font-weight: 400;
	color: #777777;
	position: relative;
	margin: 0;
}
.grey{
	background-color: #0188f4;
	padding: 100px 0;
}
h1{
	font-size: 100px;
	line-height: 70px;
	color: #ffffff;
	font-weight: 700;
}
h2{
	font-size: 36px;
	display: block;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 20px;
}
.blue{
	background-color: #0188f4;
	color: #ffffff;
	padding: 20px;
	margin: 0 0 20px;
	font-weight: bold;
	margin: 0 -50px 30px;
}
.envato{
	background-color: #cccccc;
	margin: 0 -50px;
	padding: 20px 20px 0;
}
.left{
	float: left;
	width: 300px;
}
.right{
	float: right;
	width: 300px;
}
h2{
	font-size: 24px;
	line-height: 1.5;
}
.p50{
	padding: 50px;
}
h2 span{
	font-size: 40px;
	font-weight: 500;
}
h3{
	font-size: 20px;
	margin-bottom: 30px;
}
h4{
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
	padding: 20px 0;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 30px;
}
h5{
	font-size: 18px;
	color: #0290ba;
}
p.top{
	font-size: 15px;
}
img{
	margin: 20px 0;
}
.sidebar{
	width: 25%;
	height: 100%;
	position: relative;
	background: #f6f6f6;
	position: fixed;
	padding-top: 80px;
	box-shadow: 0 5px 5px rgba(0,0,0,.15);
}
.nav_head{
	padding: 0 50px 0px;
	font-size: 20px;
	color: #848484;
	font-weight: 700;
}
nav .nav-pills a{
	font-size: 14px;
	line-height: 40px;
	color: #848484;
	padding: 0 50px;
}
.sidebar img{
	padding-left: 50px;
}
.intro{
	background: #ffffff;
	padding: 50px;
}
.main{
	margin-left: 25%;
	padding: 0;
}
footer{
	padding: 30px 0;
	background: #cccccc;
}
footer a{
	color: #0290ba;
}