// Setup custom variables
@import 'variables'

// Import Bulma and Buefy styles
@import '~bulma'
@import '~buefy/src/scss/buefy'

// Extend...
@import 'extensions/_all'
@import 'utilities/_all'


a.help-link
    text-decoration: none
    font-weight: inherit
    border-bottom: 1px dashed #888
    cursor: help


code,
pre
  font-family: $family-monospace
  font-size: 1.25rem

.icon.is-custom svg
  height: 6rem
  width: 6rem









// width, opacity, position and font-size
// http://trentwalton.com/2010/03/22/CSS3-in-transition
a.foo
    padding: 5px 10px
    background: #9c3

    // transition: background 0.3s ease 0.5s, color 0.2s linear
    transition-property: background, color
    transition-duration: 0.3s, 0.2s
    transition-timing-function: ease, linear
    transition-delay: 0.5s

a.foo:hover,
a.foo:focus
    background: #690

.video-wrapper
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

.video-wrapper iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
