// For the Styleguide
.body {
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: $dark-gray;
}

// The ngCloak directive is used to prevent the Angular html template from
// being briefly displayed by the browser in its raw (uncompiled) form
// while your application is loading. Use this directive to avoid the
// undesirable flicker effect caused by the html template display.

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

// Needs to be merged with the layout version
.vui-site-header {
    .dropdown-toggle {
        color: #fff;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        padding: 0 0.25rem;
    }

    .dropdown-menu {
        color: #51535c;
        position: absolute;
        top: 100%;
        z-index: 1000;
        display: none;
        min-width: 180px;
        margin: 5px 0 0;
        list-style: none;
        padding: 0.5rem 0;
        box-shadow: 0px 0px 5px 0px #cbcbcb;
        line-height: 2.5;
        background: #fff;
    }
    .dropdown-menu i.icon-triangle-up {
        left: 50% !important;
        transform: translateX(-50%);
    }

    .dropdown-menu li {
        display: block;
        padding: 0rem 1.25rem;
        cursor: pointer;
    }

    .dropdown-menu li:hover {
        background: #f6f6f6;
    }

    .open > .dropdown-menu,
    .open > .dropdown-flyout {
        display: block;
    }
}


/*** Top Menu ***/
.vui-site-navigation .active > a {
    color: #83c9bd;
    border-bottom-color: #83c9bd;
}


// TABLES
.vui-table {

    th [class^="icon-"],
    th [class*=" icon-"] {
        color: #fff;
        margin-left: 1rem;
    }

    .vui-table tbody tr:last-child > td,
    .vui-table tfoot tr:last-child > td {
        background-color: white;
    }
}


// MISC
.pointer {
    cursor: pointer;
}


/*** Success notification ***/
.notification-success {
    background-color: #1D7E4B;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/*** Dropdown fix for arrow at the top of DDL ***/
.dropdown-menu.vui-nubbin--top::before {
    z-index: -1;
}

/*** Debug Panel Styles ***/
.debug-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #555555;
    padding: 5px;
    border-top-right-radius: 3px;
}


/*** Loading Widget Styles ***/
#loadingWidget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .ng-modal-close {
        display: none;
    }

    .ng-modal-overlay {
        background-color: transparent;
    }

    .ng-modal-dialog {
        box-shadow: none;
        border-radius: 0.25rem;
    }
}

//

/*** Dropdown styles from old vui.css ***/
.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 0.25rem; }

.dropdown-menu {
  color: #51535c;
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 180px;
  margin: 5px 0 0;
  list-style: none;
  padding: 0.5rem 0;
  box-shadow: 0px 0px 5px 0px #cbcbcb;
  line-height: 2.5;
  background: #fff; }
  .dropdown-menu i.icon-triangle-up {
    left: 50% !important;
    transform: translateX(-50%); }

.dropdown-menu li {
  display: block;
  padding: 0rem 1.25rem;
  cursor: pointer; }

.dropdown-menu li:hover {
  background: #f6f6f6; }

.open > .dropdown-menu,
.open > .dropdown-flyout {
  display: block; }
