/// primary
$color-beeswax       : #FDECBB;
$color-porcelain     : #E0E4E5;
$color-trout         : #52545D;
$color-ecstasy       : #F58220;
$color-cardinal      : #C5203E;
$color-plum          : #692565;
$color-monte-carlo   : #83C8BC;
$color-fountain-blue : #64B1BC;
$color-boston-blue   : #4296B4;
$color-st-tropaz     : #276092;
$color-fun-blue      : #1D4F90;

$blue                : #4295b3;
$green               : #04864b;
$yellow              : #f4831f;
$red                 : #c5203e;

$info                : $blue;
$success             : $green;
$warning             : $yellow;
$danger              : $red;
