@charset "utf-8"

@import "spacing"

// @import "menu"
@import "circle"
@import "footer"
@import "hero"
@import "highlightjs"
@import "image"
@import "navbar"
@import "note"
@import "quickview"
@import "sticky-footer"
@import "switch"

@font-face
    font-family: 'Flow Circular'
    src: url('../../assets/fonts/flow-circular.woff') format('woff')

@font-face
    font-family: 'Flow Block'
    src: url('../../assets/fonts/flow-block.woff') format('woff')

@font-face
    font-family: 'Flow Rounded'
    src: url('../../assets/fonts/flow-rounded.woff') format('woff')

@font-face
    font-family: 'Blokk'
    src: url('../../assets/fonts/blokk-regular-webfont.woff') format('woff')
