/* Flash Message
/* ---------------------------------------------------------- */
[id='flash-message'] {
  animation: flash-message 4s forwards;
}

@keyframes flash-message {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
