// @import "../../../design-tokens/index";

// Data Tables
//
// Markup:
// <table border="0" cellpadding="0" cellspacing="0" class="vui-table vui-no-row-hover">
//   <thead>
//     <tr>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>Order #</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>Advertiser</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>Agency</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>CPE</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>Start</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>End</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>Revenue</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>Share</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//       <th><a href="" class="vui-grid vui-grid--align-spread"><span>Order Date</span><svg class="vui-icon vui-icon--x-small vui-align-middle vui-icon--sort-arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-sort-asc"></use></svg></a></th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr class="vui-highlight">
//       <td>
//         <a href="">
//           <svg style="width: 1rem; height: 1rem;" class="vui-icon vui-icon--small">
//             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-caret-right"></use>
//           </svg>
//         </a><a href="">135001</a></td>
//       <td> Piedmont Healthcare</td>
//       <td>Hughes-Martin Agency</td>
//       <td>PHC-HEA-57</td>
//       <td>04/25/16</td>
//       <td>06/05/16</td>
//       <td class="vui-text-align--right">$37,189</td>
//       <td class="vui-text-align--right">31%</td>
//       <td>04/20/16</td>
//     </tr>
//     <tr class="animated expand-transition">
//       <td colspan="9" class="expanded">
//         <div class="vui-box vui-theme--shade vui-grid vui-grid--align-spread vui-m-top--medium"><span><b class="vui-m-right--x-small">Agency:</b>Hughes-Martin Agency<br><b class="vui-m-right--x-small">Buyer:</b>Janna Valentine</span>
//           <div class="vui-theme--shade vui-grid vui-grid--align-spread">
//             <div class="vui-grid--vertical vui-grid--align-center">
//               <div class="vui-text-align--center"><b>May</b></div>
//               <div class="vui-text-align--center">$ 32,870</div>
//             </div>
//           </div>
//           <div class="vui-theme--shade vui-grid vui-grid--align-spread">
//             <div class="vui-grid--vertical vui-grid--align-center">
//               <div class="vui-text-align--center"><b>Jun</b></div>
//               <div class="vui-text-align--center">$ 4,319</div>
//             </div>
//           </div><span><b class="vui-m-right--x-small">Dates:</b>04/25/16 - 06/05/16<br><b class="vui-m-right--x-small">Demo:</b>A25-54</span></div>
//         <table style="background: white" class="vui-table vui-no-row-hover vui-m-bottom--large">
//           <thead>
//             <tr>
//               <th>Daypart</th>
//               <th class="u-width-small">AUR</th>
//               <th class="u-width-small"># of Spots</th>
//               <th class="u-width-medium">Revenue</th>
//               <th class="u-width-small">CPP<sup>1</sup></th>
//               <th class="u-width-small">Rating<sup>1</sup></th>
//               <th class="u-width-small">GRPs<sup>1</sup></th>
//             </tr>
//           </thead>
//           <tbody>
//             <tr>
//               <td>Early Morning</td>
//               <td class="vui-text-align--right">$413</td>
//               <td class="vui-text-align--right">42</td>
//               <td class="vui-text-align--right">$17,160</td>
//               <td class="vui-text-align--right">$207</td>
//               <td class="vui-text-align--right">2.0</td>
//               <td class="vui-text-align--right">84.0</td>
//             </tr>
//           </tbody>
//           <tbody>
//             <tr>
//               <td>Early News</td>
//               <td class="vui-text-align--right">$646</td>
//               <td class="vui-text-align--right">26</td>
//               <td class="vui-text-align--right">$16,879</td>
//               <td class="vui-text-align--right">$239</td>
//               <td class="vui-text-align--right">2.7</td>
//               <td class="vui-text-align--right">70.2</td>
//             </tr>
//           </tbody>
//           <tbody>
//             <tr>
//               <td>Late Fringe</td>
//               <td class="vui-text-align--right">$117</td>
//               <td class="vui-text-align--right">27</td>
//               <td class="vui-text-align--right">$3,150</td>
//               <td class="vui-text-align--right">$130</td>
//               <td class="vui-text-align--right">0.9</td>
//               <td class="vui-text-align--right">24.3</td>
//             </tr>
//           </tbody>
//           <tfoot>
//             <tr>
//               <td colspan="7">
//                 <div class="vui-grid vui-grid--align-spread">
//                   <div class="vui-align-middle">
//                     <sup class="vui-m-right--xx-small">1</sup>
//                     <span style="font-weight: normal">Nielsen source or data derived from Nielsen</span>
//                   </div>
//                   <a href="" class="vui-align-middle">
//                     <span class="vui-align-middle vui-m-right--xx-small">View Detail</span>
//                       <svg class="vui-icon vui-icon--x-small vui-align-middle">
//                         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-arrow-circle-right"></use>
//                       </svg>
//                   </a>
//                 </div>
//               </td>
//             </tr>
//           </tfoot>
//         </table>
//       </td>
//     </tr>
//     <tr>
//       <td>
//         <a href="">
//           <svg style="width: 1rem; height: 1rem;" class="vui-icon vui-icon--small">
//             <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-caret-right"></use>
//           </svg>
//         </a>
//         <a href="">133529</a>
//       </td>
//       <td>Papa Johns Pizza</td>
//       <td>Zone Group Advertising</td>
//       <td>PJP-HOL-8</td>
//       <td>03/28/16</td>
//       <td>04/24/16</td>
//       <td class="vui-text-align--right">$10,650</td>
//       <td class="vui-text-align--right">49%</td>
//       <td>02/08/16</td>
//     </tr>
//     <tr class="animated expand-transition" style="display: none;">
//       <td colspan="9" class="expanded">
//         <div class="vui-box vui-theme--shade vui-grid vui-grid--align-spread vui-m-top--medium"><span><b class="vui-m-right--x-small">Agency:</b>Zone Group Advertising<br><b class="vui-m-right--x-small">Buyer:</b>Jennifer Harris</span>
//           <div class="vui-theme--shade vui-grid vui-grid--align-spread">
//             <div class="vui-grid--vertical vui-grid--align-center">
//               <div class="vui-text-align--center"><b>April</b></div>
//               <div class="vui-text-align--center">$ 10,650</div>
//             </div>
//           </div><span><b class="vui-m-right--x-small">Dates:</b>03/28/16 - 04/24/16<br><b class="vui-m-right--x-small">Demo:</b>A18-49</span></div>
//         <table style="background: white" class="vui-table vui-no-row-hover vui-m-bottom--large">
//           <thead>
//             <tr>
//               <th>Daypart</th>
//               <th class="u-width-small">AUR</th>
//               <th class="u-width-small"># of Spots</th>
//               <th class="u-width-medium">Revenue</th>
//               <th class="u-width-small">CPP<sup>1</sup></th>
//               <th class="u-width-small">Rating<sup>1</sup></th>
//               <th class="u-width-small">GRPs<sup>1</sup></th>
//             </tr>
//           </thead>
//           <tbody>
//             <tr>
//               <td>Early Morning</td>
//               <td class="vui-text-align--right">$300</td>
//               <td class="vui-text-align--right">4</td>
//               <td class="vui-text-align--right">$1,200</td>
//               <td class="vui-text-align--right">$158</td>
//               <td class="vui-text-align--right">1.9</td>
//               <td class="vui-text-align--right">7.6</td>
//             </tr>
//           </tbody>
//           <tbody>
//             <tr>
//               <td>Early News</td>
//               <td class="vui-text-align--right">$550</td>
//               <td class="vui-text-align--right">3</td>
//               <td class="vui-text-align--right">$1,650</td>
//               <td class="vui-text-align--right">$220</td>
//               <td class="vui-text-align--right">2.5</td>
//               <td class="vui-text-align--right">7.5</td>
//             </tr>
//           </tbody>
//           <tbody>
//             <tr>
//               <td>Prime</td>
//               <td class="vui-text-align--right">$2,500</td>
//               <td class="vui-text-align--right">1</td>
//               <td class="vui-text-align--right">$2,500</td>
//               <td class="vui-text-align--right">$893</td>
//               <td class="vui-text-align--right">2.8</td>
//               <td class="vui-text-align--right">2.8</td>
//             </tr>
//           </tbody>
//           <tbody>
//             <tr>
//               <td>Late News</td>
//               <td class="vui-text-align--right">$1,500</td>
//               <td class="vui-text-align--right">3</td>
//               <td class="vui-text-align--right">$4,500</td>
//               <td class="vui-text-align--right">$500</td>
//               <td class="vui-text-align--right">3.0</td>
//               <td class="vui-text-align--right">9.0</td>
//             </tr>
//           </tbody>
//           <tbody>
//             <tr>
//               <td>Late Fringe</td>
//               <td class="vui-text-align--right">$200</td>
//               <td class="vui-text-align--right">4</td>
//               <td class="vui-text-align--right">$800</td>
//               <td class="vui-text-align--right">$105</td>
//               <td class="vui-text-align--right">1.9</td>
//               <td class="vui-text-align--right">7.6</td>
//             </tr>
//           </tbody>
//           <tfoot>
//             <tr>
//               <td colspan="7">
//                 <div class="vui-grid vui-grid--align-spread">
//                   <div class="vui-align-middle">
//                     <sup class="vui-m-right--xx-small">1</sup>
//                     <span style="font-weight: normal">Nielsen source or data derived from Nielsen</span>
//                   </div>
//                   <a href="" class="vui-align-middle">
//                     <span class="vui-align-middle vui-m-right--xx-small">View Detail</span>
//                     <svg class="vui-icon vui-icon--x-small vui-align-middle">
//                       <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../assets/icons.svg#icon-arrow-circle-right"></use>
//                     </svg>
//                   </a>
//                 </div>
//               </td>
//             </tr>
//           </tfoot>
//         </table>
//       </td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 2.3

.#{$css-prefix}table:not(.#{$css-prefix}no-row-hover) tbody tr:hover > td,
.#{$css-prefix}table:not(.#{$css-prefix}no-row-hover) tbody tr:hover > th {
  background-color: $vui-color-highlight;
}

.#{$css-prefix}table {
  border-collapse: collapse;
  border-spacing: $border-width-thick;

  tr.region:last-child td,
  tfoot td {
    border-top-width: 3px;
    font-weight: 500;
  }

  th, th a {
    background: $dark-gray;
    color: $white;
  }

  th,
  td {
    border: 1px solid $vui-color-brand-7;
  }

  td.expanded {
    background-color: $vui-color-expanded-cell;
  }

  .#{$css-prefix}table {
    background: transparent;

    th {
      background: transparent;
      color: $vui-color-brand-8;
      font-weight: bold;
    }

    thead th {
      border: 1px solid transparent;
      border: 1px solid $vui-color-brand-7;
      border-bottom: 2px solid $vui-color-brand-8;
    }

    tbody td {
      border: 1px solid transparent;
      border-bottom: 1px solid $vui-color-brand-7;
      border: 1px solid $vui-color-brand-7;
    }

    tfoot td {
      border: 1px solid transparent;
      border: 1px solid $vui-color-brand-7;
    }
  }
}

.#{$css-prefix}table--nested-rows {
  > tbody tr:not(:first-child) td:first-child {
    padding-left: 3.5rem;
  }

  > tbody tr.week td:first-child {
    padding-left: 5.5rem;
  }

  > tbody tr.showTime td:first-child {
    padding-left: 5rem;
  }

  > tbody tr.date td:first-child {
    padding-left: 6.5rem;
  }
}

.#{$css-prefix}table--calendar {
  th, td {
    cursor: pointer;
  }

  thead th:first-child{
    cursor: default;
  }
}

.#{$css-prefix}table tr.month > td:first-child {
  padding-left: 4rem;
}
.#{$css-prefix}table tr.week > td:first-child {
  padding-left: 2.5rem;
}

////////////////////////////////////////////////////////////
tr.overdue td {
  background-color: rgba(255,221,225,0.5);
}

//////////////////////////////////////////////////////////////////////////
.#{$css-prefix}table tr.month > td:first-child {
  padding-left: 4rem;
}
.#{$css-prefix}table tr.week > td:first-child {
  padding-left: 2.5rem;
}
