/**
 * Menu Dropdown........
 */
.vui-dropdown-trigger--site-nav .vui-dropdown--site-nav {
  top: 90%;
  width: 13rem;
 }

.vui-dropdown--site-nav {
  background-color:  #275f91;
  border: 1px solid transparent;
  border-radius: 0;
  top: 90%;
  width: 13rem;
}

.vui-dropdown--site-nav .vui-dropdown__list {
  background-color:  #275f91;
}

.vui-dropdown--site-nav .vui-dropdown__list  > li > a {
  display: block;
  border-bottom: 0.25rem solid transparent;
  border-bottom: none;
}

.vui-dropdown--site-nav .vui-dropdown__list > li > a:hover {
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  border-bottom: none;
}
