// @import "../../../design-tokens/index";
// Site Navigation
//
// Markup:
// <nav class="vui-site-navigation">
//   <div class="vui-container vui-grid vui-grid--align-spread vui-grid--vertical-align-center">
//     <ul class="vui-grid vui-grow">
//       <li><a href="" class="v-link-active">Orders</a></li>
//       <li><a href="">Program Guide</a></li>
//       <li><a href="">OTRI</a></li>
//       <li>
//         <div class="vui-dropdown-trigger vui-dropdown-trigger--click dropdown"><a aria-live="assertive" aria-haspopup="true"><span style="color: white" class="vui-m-right--xx-small">Performance</span><svg class="vui-icon vui-icon--x-small vui-align-middle" style="color: #4296b4; margin-right: 0"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-down"></use></svg></a>
//           <div class="vui-dropdown">
//             <ul role="menu" class="dropdown-menu dropdown__list vui-dropdown__list">
//               <li class="dropdown-item vui-dropdown__item">
//                 <a role="menuitem">
//                   <p class="vui-truncate">Account Performance</p>
//                 </a>
//               </li>
//               <li class="dropdown-item vui-dropdown__item">
//                 <a role="menuitem">
//                   <p class="vui-truncate">Station Performance</p>
//                 </a>
//               </li>
//             </ul>
//           </div>
//         </div>
//       </li>
//     </ul>
//     <ul class="vui-grid">
//       <li><a href="">Price Guide</a></li>
//       <li><a href="">Avails</a></li>
//       <li>
//         <div class="vui-dropdown-trigger vui-dropdown-trigger--click dropdown"><a aria-live="assertive" aria-haspopup="true"><span style="color: white" class="vui-m-right--xx-small">Order Management</span><svg class="vui-icon vui-icon--x-small vui-align-middle" style="color: #4296b4; margin-right: 0"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-caret-down"></use></svg></a>
//           <div class="vui-dropdown">
//             <ul role="menu" class="dropdown-menu dropdown__list vui-dropdown__list">
//               <li class="dropdown-item vui-dropdown__item">
//                 <a role="menuitem">
//                   <p class="vui-truncate">Accept/Reject Orders</p>
//                 </a>
//               </li>
//               <li class="dropdown-item vui-dropdown__item">
//                 <a role="menuitem">
//                   <p class="vui-truncate">Makegoods Dashboard</p>
//                 </a>
//               </li>
//             </ul>
//           </div>
//         </div>
//       </li>
//     </ul>
//   </div>
// </nav>
//
// Styleguide 3.4
.#{$css-prefix}site-navigation {
  position: relative;
  background-color: #62b0bc;
  background-color: #275f91;
  color: #fff;
  margin-bottom: 2rem;
}
.#{$css-prefix}site-navigation .v-link-active {
  color: #fdecba !important;
  color: #1d4f90 !important;
  color: #62b0bc !important;
  color: #83c9bd !important;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid #62b0bc;
  border-bottom: 0.25rem solid #83c9bd;
}
.#{$css-prefix}site-navigation a,
.#{$css-prefix}site-navigation__link {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  margin-right: 1rem;
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  text-decoration: none;
}
.#{$css-prefix}site-navigation a:hover,
.#{$css-prefix}site-navigation__link:hover {
  border-bottom: 0.25rem solid #62b0bc;
  border-bottom: 0.25rem solid #83c9bd;
  text-decoration: none;
  color: #62b0bc;
  color: #83c9bd;
}
.#{$css-prefix}site-navigation a:last-child,
.#{$css-prefix}site-navigation__link:last-child {
  margin-right: 0;
}
