// @import "../../../design-tokens/index";
// Site Help
//
// Markup:
// <div class="vui-site-help" style="display: none">
//  <h2 class="vui-text-heading--medium">Need Help?</h2>
// </div>
//
// Styleguide 3.3
.#{$css-prefix}site-help {
  position: fixed;
  top: 16rem;
  right: -3rem;
  background-color: $vui-color-brand-11;
  color: white;
  cursor: pointer;
  padding: 0.75rem 1.5rem 1rem;
  transform: rotate(-90deg);
  box-shadow: $elevation-inverse-shadow-4;

  h2 {
    font-weight: 400;
    font-size: 1rem;
  }
}
