// @import "../../../../../design-tokens/index";
// Flash Notifications
//
// Markup:
// <div class="vui-flash vui-flash--success">
//   <div class="vui-container">
//     <span class="vui-flash__message">
//       <i class="fa fa-exclamation-triangle"></i>
//       Flash Notification
//     </span>
//   </div>
// </div>
//
// Styleguide 2.6
.#{$css-prefix}flash {}
.#{$css-prefix}flash--success { border: 1px solid $color-background-toast-success; }
.#{$css-prefix}flash--error { border: 1px solid $color-background-toast-error; }
.#{$css-prefix}flash {
  position: absolute;
  // top: $site-header-height + $site-nav-height;
  top: 117px;
  left: 0;
  padding: 5px 10px;
  color: $red;
  z-index: 1;
  width: 100%;

  &__message {
    display: inline-block;
  }

  &--error {
    background: $color-background-toast-error;
    color: $white;
  }

  &--success {
    background: $color-background-toast-success;
    color: $white;
  }

  &--warn {
    background: $beige;
    color: $purple;
  }
}

.login-page .alert {
  top: $site-header-height + $login-page-site-nav-height;
}
